body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    font-size: medium;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.joke {
    font-size: large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
